body{
    font-family: 'Merriweather', serif;
    /* margin: 0; */
    background-color: #DAE1E7;
    color: #142850;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/banner.jpg");
  height: 25vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #DAE1E7;
}

.blog-list{
    color: #27496D;
    font-size: small;
}

.blog-list a{
    color: #27496D;
    text-decoration: none;
}

.blog-title a{
    color: #00909E;
    text-decoration: none;
}

.blog img{
    height: 18vw;
}


