/* body{
    font-family: 'Merriweather', serif;
    margin: 0;
    background-color: #DAE1E7;
    color: #142850;
} */

#blog-profile h1,h5,h3,h4,h6,p{
    color: #142850;


}


.blog-list2 #blog_btn2
{
    background-color: #142850 !important;
}
