#owl-blog .items .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    height: 500px;
    margin: 20px 5px;
    /* text-align: center; */
    padding: 20px;
}
  #owl-blog  .blog-list{
  color: #27496D;
  font-size: small;
  
}
#owl-blog  .blog-list2{
  
  margin-top: auto;
}


#owl-blog  .blog-list a{
  color: #27496D;
  text-decoration: none;
}

#owl-blog  .blog-title a{
  color: #00909E;
  text-decoration: none;
}

#owl-blog  .blog img{
  height: 10vw;
}
  
  /* On hover, add a black background color with a little bit see-through */

  #owl-blog .owl-prev, #owl-blog .owl-next {
    width: 80px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border:0px solid black;
}
 
#owl-blog .owl-prev { left: -20px; }

#owl-blog .owl-next { right: -20px; }

#owl-blog .owl-prev i, .owl-next i {transform : scale(3,5); color: #142850;} 

.blog-list2 #blog_btn3
{
    background-color: #142850 !important;
}
