
  .pioneers .items .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    height: 500px;
    margin: 20px 5px;
    text-align: center;
    padding: 20px;
  }
  .pioneers .card img
  {
    border-radius: 100%;
  }
  
  .pioneers .title {
    color: grey;
    font-size: 18px;
  }
  
  .pioneers .items .card a {
    border: none;
    outline: 0;
    display: inline-block !important;
    padding: 8px;
    color: white;
    background-color: #142850;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: auto;
  }
  
 
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #142850;
    padding: 2px 16px;
    color: white;
  }
  

  #owl-pioneer .owl-prev, #owl-pioneer .owl-next {
    width: 80px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border:0px solid black;
}
.owl-prev { left: -20px; }
.owl-next { right: -20px; }
.owl-prev i, .owl-next i {transform : scale(3,5); color: #142850;}