h1{
    color:#142850;
}

.blog-list2 {
    color: #142850;
    font-size: small;
    margin-top: auto;
    /* position: absolute;
      bottom: 5px; */
}

.blog-list a {
    color: #142850;
    text-decoration: none;
    /* background-color: #142850 !important; */
}

.blog-list2 #blog_btn {
    background-color: #142850 !important;
}

.blog-title a {
    color: #142850;
    text-decoration: none;
}

.blog img {
    height: 50%;
}

.b_head h4,
.b_search label {
    color: #142850;
}

.product .card {
    height: 500px;
}

.c-footer {
    background-color: #142850 !important;
}