* {
    margin: 0;
    padding: 0;
}

#cardcss .card,
.card-group .card,
#cardcss2 .card {
    /* background: rgba(255, 255, 255, 0.877); */
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem;
    padding: 10px;
    background-color: #A0CFEC;
}

.titl {
    text-align: left;
    color: #6D6968;
    font-weight: bold;
    margin-left: 5%;
}

.high {
    border-width: 6px;
}

#first {
    background-color: #6D6968;

    width: 90%;
    margin-left: 5%;


    border: none;
}

#first .skill-row {
    width: 45%;
    margin: 40px auto 90px auto;
    text-align: left;
    height: 40%;

}

#first .chilli-img {
    width: 32%;
    float: right;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 40px;
}

@media screen and (max-width: 1014px) {

    #first .sci_img {
        display: flex;
        justify-content: center;
    }
    #first .s_name {
        text-align: center;
    }
    #first .mcr {
        text-align: center;
    }
}


#first .john {
    font-size: 35px;
    font-weight: 700;

}

#first .mcr {
    font-size: 20px;
    font-weight: 500;
}

/* .row_1{
      text-align: center;
    
      font-size: bolder;

  }
  .row_2{
    text-align: center;
  
    font-size: bolder;

} */
/* .bib_1{
    width: 23%;
    font-size: 25px;
    color: black;
}
.bib_2{
    width: 23%;
    font-size: 25px;
    color: black;
}
.bib_3{
    width: 23%;
    font-size: 25px;
    color: black;
}
.bib_4{
    width: 23%;
    font-size: 25px;
    color: black;
} */
/* .para_1{
    text-align: justify;
    font-family: sans-serif;
    line-height: 1.5em;
} */
/* .para_2{
    text-align: justify;
    font-family: sans-serif;
    line-height: 1em;
} */
/* .tbl_1{
    background-color:#659EC7;
}
table-hover{
    background-color: #ADD8E6;
} */

/* .para_3{
    text-align: justify;
    font-family: sans-serif;
    line-height: 1.5em;
}
.para_4{
    text-align: justify;
    font-family: sans-serif;
    line-height: 1.5em;
} */

.biograph {
    width: 90%;
    margin-left: 5%;
    background-color: #A0CFEC;
    border: none;
}

.biograph .biog {
    font-size: 25px;
    font-size: bolder;
}

.biograph ul.demo {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;


}

.tebb {
    width: 90%;
    margin-left: 5%;
    background-color: #A0CFEC;
    padding: 15px;
    padding-top: 20px;
}

.tebb .syntax {
    font-size: 20px;
    font-weight: 600;
}

.tebb .syntax i {
    padding-left: 30px;
}

/* .container{
    margin-left: 100px;
    margin-right: 100px;
} */
/* .cap{
    text-align: center;
} */
.dec {
    font-size: 20px;
    background-color: #A0CFEC;

}

/* .decr{
  
    background-color: #A0CFEC; 
} */
.dec_4 {
    width: 40%;
    font-size: 20px;
    font-weight: bold;
}

.dec_3 {
    width: 35%;
    font-size: 20px;
    font-weight: bold;
}

.dec_2 {
    width: 15%;
    font-size: 20px;
    font-weight: bold;
}

body {
    background-color: #f9f9fae7;
}

/* .flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
} */

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

/* .padding {
    padding: 5rem
} */



/* .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.87);
    background-clip: border-box;
    border: none;
    border-radius: .25rem
} */

/* .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(19, 24, 44, .03);
    border-bottom: 1px solid rgba(19, 24, 44, .125)
} */

/* .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-footer,
.card-header {
    background-color: transparent;
    border-color: rgba(160, 175, 185, .15);
    background-clip: padding-box
} */
/* .crd_1{
    background-color:#A0CFEC;
    font-size: 18px;
} */
/* .headd{
    text-align: center;
} */
/* .paraa{
    font-size: 24px;
    font-weight: bold;
text-align: center;
  color: blue;
} */
/* .chead{
    padding-top: 0px;
} */

/* ul.demo_1{
      list-style-position: outside;
      text-align: left;
  } */
/* .tbl-1{
      width: 80%;
      margin-left: 130px;
      background-color: #A0CFEC;
      border: none;
     
  } */
.tebb .roww-1 {
    float: right;
    margin-right: 50px;
    border: none;

}

.tebb .roww-2 {
    margin-left: 50px;
    float: left;
}

/* .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom:40%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  } */
/* .crl-1{
      width: 70%;
      height: 50%;
     margin-left: 220px;
  }
   */
.city {
    width: 90%;
    margin-left: 5%;
    background-color: #A0CFEC;
}

.carthy {
    background-color: #A0CFEC;
}