* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../image/i15.jpg);
    background-size: cover;
    width: 100vw;
    height: auto;
}

.signup {
    margin-left: 50%;
    width: 50vw;
    height: auto;
    margin: 16vh auto;
    padding: 6vh;
    background-color: white;
    color: #142850;
    margin-top: 150px;
}

.signup a {
    background-color: #142850;
    color: white;
    font-size: large;
}

.signup {
    box-shadow: 0px 0px 20px #000;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
}