body{
    /* margin:0;
    padding:0;
    font-family:"Open Sans",sans-serif;
    background-color: #63B4B8; 
   -webkit-background-size:cover; 
    background-size:cover; */
   

}




/* #63B4B8; */
 .wrap{
background-color:#142850 ;

 width: 800px;
height: 600px;
margin: 100px;

border-radius: 5px;
/* border-width: 10px; */
border-style: solid;
border-color:#142850;
/* position: relative;  */
/* top: 50%;
left: 50%; */
/* transform: translate(-50%,-50%);  */
}
.wrapper:before{
    content: '';
    width: 350px;
    height: 500px;
    background-color: teal ;
    /* position: absolute; */

} 
.leftbox

{
    background-color:white;
    margin-top: 30px;
 

}
.header-area h2{ 
    /* position: absolute;
    top: 20%;
    left: 20%; 
    transform: translate(-50%,-50%); */
    width: 40%;
    border: 12px inset #fff;
    text-align: center;
    color: teal;
    font-size: 35px;
    margin-left: 150px;
    margin-top: 100px;


}

.header-area p{
    /* position: absolute;
    top: 50%;
    left: 20%; 
     transform: translate(-50%,-50%); */
    color:teal;
    font-size: 20px;
    margin-left: 190px;
    margin-top: 100px;
}
.social-area{
   /* position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%,-50%); 
    */
    margin-left: 180px;
}
.social-area i{
    width: 7%;
    height: 100%;
    padding: 4px;
    margin: 0 3px;
    box-shadow: 2px 2px 5px #fff;
       color:#fff;
    font-size: 30px;
}
.social-area i:nth-child(1){
    background-color: rgb(0, 153, 255);
}
.social-area i:nth-child(2){
    background-color: green;
}
.social-area i:nth-child(3){
    background-color: #bd081c;
}
.form-area{
    /* position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%); */
    width: 350px;
    color: white;
    overflow: hidden;

}
.form-area input{
    outline: none;
    padding: 0 0 0 35px;
    border: 1px solid rgba(0,0,0,0);
    border-bottom-color: whitesmoke;
    background: transparent;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    color: white;
}
    .form-area i{
        width: 20px;
        margin-top: 25px;
        height: 20px;
        font-size: 20px;
        /* position: absolute; */
    }
    .form-area input[type=checkbox]{
        margin: 20px 0 0 2px;
        padding: 0;
        border:2px solid #262626;
        width: 25px;
        height:25px;
        -webkit-appearance: none;
        background-color: whitesmoke;
        outline: none;
        
    } 
    input:checked[type=checkbox]{
        background-color: black;
        border:none;
    }
    .terms{
        float: right;
        margin-right:97px;
        font-size: 15px;
    }
    .form-area button[type=submit]{
        width: 50%;
        border: none;
        font-weight: bold;
        margin-left: 95px;
        font-size: 18px;
        background-color:white;
        color: teal;
        cursor: pointer;
        padding: 0;
    height: 40px;}
       
            
        
 @media screen and (max-width:1000px){
            .form-area{
                background-size: 100%;
                padding: 100px 40px;
            }
        }


 @media screen and (max-width:600px){
                
                .form-area{
                 padding:60px;
                }
                .alrt{
                    color:white;
                    font-size: 18px;
                    font-weight: bold;
                    padding: 10px;
                }
                .color{
                    color: white;
                    font-size: 20px;
                    font-weight: bolder;
                    margin: 30px;
                }
 }
