body{
    font-family: 'Merriweather', serif;
    margin: 0;
    background-color: white; /* For browsers that do not support gradients */
    background-size: cover;
}

.blog_post{
    background-color: #DAE1E7;
    color: #142850;
}

.upload_btn{
    background-color: #142850;
    color: #DAE1E7;
}