*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

}
.about-section{
    background:url(../media/ig11.jpg) no-repeat left;
    background-size:75%;
    background-color:rgb(255, 255, 255);
    overflow: hidden;
padding: 90px 0;

}
.inner-container{
width:70%;
float:right;
background-color: #c0cac2;
padding:90px;
}
.inner-container h1{
    margin-bottom: 30px;
    font-size:30px;
    font-weight: 900;
}
.text{
    font-size: 17px;
    color: black;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 40px;
}
.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}
@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
    
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
    
}
@media screen and (max-width:600px){
    .about-section{
       padding: 0;
    }
    .inner-container{
     padding:60px;
    }
    
}
*,*:before,*:after{
    box-sizing: border-box;
}
body{
    font-family: poppins;
    margin: 0;
    display: grid;
    font-size: 14px;
}
main{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items:center;
    justify-content: center;
    color:#9b9b9b;
    line-height: 1.5;
    font-size: 15px;
    text-transform:
    font-weight: bold;

}
footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #011c39;


}
.footer > *{
    flex:1 100%;
}
.footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;

}
.footer-left img{
    width: 20%;}
    h2{
        font-weight: 600;
        font-size: 17px;
    }
    .footer ul{
        list-style: none;
        padding-left: 0;
    }
    .footer li{
        line-height: 2em;
    }
    .footer a{
        text-decoration: none;
    }
    .footer-right{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-flow: row wrap;
    }
    .footer-right > *{
        flex: 1 50%;
        margin-right: 1.25em;
    }
    .box a{
        color:#999;
    }
    .footer-bottom{
        text-align: center;
        color:#999;
        padding-top: 50px;
    }
    .footer-left p{
        padding-right: 20%;
        color:#999;
    }
    .socials a{
        background: #364a62;
        width: 40px;
        height: 40px;
        display: inline-block;
        margin-right: 10px;
    }
    .socials a i{
        color:#e7f2f4;
        padding: 10px 12px;
        font-size: 20px;
    }
    @media screen and (min-width:600px)
{
    .footer-right > *{
        flex: 1;}
        .footer-left{
            flex: 1 0px;
        }
        .footer-right{
            flex: 2 0px;
        }
}
@media(max-width:600px){
    .footer{
        padding: 15px;
    }
    main{
        font-size: 15px;
    }
}
.para{
    color: #fff;
    font-size: 15px;
}
.cardd2{
    margin-right: 20px;
    margin-left: 20px;
    padding-left:20px;
    width: 95%;
}

.cardd1{
    margin-right:10px;
   margin-left: 20px;
  
    width: 95%;
}
.cardclr{
    color: blue;
    font-weight: bold;
}
.cardclr1{
    color: black;
    font-size: 16px;}
    .faq1{
        padding-top: 20px;
        padding-bottom: 20px;
    }