*{
    margin:0;
    padding:0;
}
.bg img{
    width:100%;
    
}
.bg{
    
    height: 100vh;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:url("../media/ig4.jpg"); 
}

.box{
    margin-top:40px;
    background-color:transparent;
    box-shadow:0 0 20px black;
    border-radius: 25px;
}

.sign{
    color:white;
    font-size: 40px;
  
}
label{
     color:wheat;
     font-weight: bold;
}
.text{
    color: wheat !important;;
}
.btn-1{
   background-color:white;
   color:teal;
   padding: 10px 55px;
   border-radius: 25px;
   border:1px solid wheat;
   font-weight:bold;
}
.btn-1:hover{
    background-color:teal;
   color:wheat;
   transform:scale(1.1);
   transition:0.7s;
   border:1px solid black;
}
.ic{
    background-color:rgb(236, 240, 241)!important;
    border:2px solid whitesmoke;
} 
.account{
    font-weight: bolder;
    float: right;
    font-size:20 px;
    color:white;
}
